@font-face {
    font-family: 'Druk Bold';
    src: url(../fonts/Druk\ Bold\ Regular.ttf);
}
@font-face {
    font-family: 'Druk Medium';
    src: url(../fonts/Druk-Medium-Web.ttf);
}

.prizing_container button,
.rules_container button,
.terms_container button {
    background-color: #E4CD73;
    color: #FFFFFF;
    border: 2px solid #231F20;
    font-weight: bold;
    font-size: 1.125rem;
    width: 100px;
    height: 30px;
    align-self: center;
    margin-bottom: 1rem;
}

button:hover {
    cursor: pointer;
}

.home_container {
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    background-image: url(../images/mobile-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.win_container {
    color: #FFFFFF;
    font-family: 'Druk Bold';
    font-size: 1.5rem;
}

.win_container h1 {
    margin: 0.5rem;
    line-height: 1;
}

.win {
    color: #F7BB16;
}

.of-age_container {
    color: #FFFFFF;
    font-family: 'Druk Medium';
    font-size: 2.125rem;
    letter-spacing: 1px;
}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    max-width: 250px;
}

.button_container button {
    color: #292929;
    background-color: #FFFFFF;
    border: none;
    margin: 5%;
    width: 100%;
    height: 35px;
    font-family: 'Druk Medium';
    font-size: 1.25rem;
    letter-spacing: 2px;
}

@media screen and (min-width: 780px) {
    .home_container {
        background-image: url(../images/web-background.svg);
        background-position: 15% 50%;
    }
    .win_container {
        font-size: 1.75rem;
    }
    .of-age_container {
        font-size: 2.35rem;
    }
    .button_container {
        width: 30%;
    }
    .button_container button {
        height: 40px;
        font-size: 1.5rem;
    }
}

.terms_container {
    text-align: center;
    padding: 0.5rem;
}

.prizing_container,
.rules_container,
.terms_container {
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collect_container,
.ready_container {
    min-height: 100vh;
    background: url(../images/sapporo-can.png);
    background-color: #333333;
    background-blend-mode: multiply;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.prize_container,
.draw_container {
    min-height: 100vh;
    background-color: #000000;
    color: #F6BA2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#footerScreenshot_container {
    /* background-image: url(../images/footer-screenshot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    width: 100%;
}

.tfp_container {
    min-height: 100vh;
    background-color: #000000;
    margin: 0;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}