.age_container {
    background-image: url(../images/age-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding: 0.75rem;
    margin-top: 2rem;
    background-color: #231F20;
    color: #FE9829;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

button {
    background-color: #FD9829;
    color: #FFFFFF;
    width: 200px;
    padding: 5px 0;
    border: 1px solid #231F20;
    text-transform: uppercase;
    margin-top: 2rem;
}

span {
    font-size: 1.125rem;
    font-weight: bold;
}