@font-face {
  font-family: 'Druk Bold';
  src: url(../fonts/Druk\ Bold\ Regular.ttf);
}
@font-face {
  font-family: 'Druk Medium';
  src: url(../fonts/Druk-Medium-Web.ttf);
}

.ageBtn {
  height: 17% !important;
  width: 80% !important;
}

.header_info {
  width: 20%;
}

.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #231f20;
  color: #fe9829;
  padding: 0.75rem;
  text-align: center;
  font-size: 1.25rem;
}

.header_container h1 {
    margin: 0;
}

button:hover {
  cursor: pointer;
}

.age_container span {
  font-size: 1.125rem;
  font-weight: bold;
}

.footer_container {
  background-color: #231f20;
  text-align: center;
  height: 10vh;
  padding-bottom: 4%;
}

.footer_container p,
.footer_container button {
  margin: 0;
  font-weight: bold;
}

.footer_container p {
  color: #fe9829;
  padding-top: 15px;
}

.footer_container button {
  margin-top: 5px;
}

.bullet_container p {
  font-size: 1rem;
  font-weight: bold;
}

.levels_container {
  background-color: #000000;
  width: 80%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

button#next {
  background-color: transparent;
  color: #f6ba10;
  font-size: 1rem;
  border: none;
  width: 50px;
  align-self: flex-end;
}

button#prizes {
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  border: none;
}

button#terms {
  background-color: transparent;
  color: #f6ba10;
  font-size: 1rem;
  border: none;
}

.levels_container button:hover {
  cursor: pointer;
}

.levels_container span {
  color: #f6ba10;
}

.ready-buttons_container {
  background-color: #000000;
  width: 275px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

button#practice,
button#play {
  width: 80%;
  color: #ffffff;
  font-size: 1.25rem;
}

button#practice {
  background-color: #59bed8;
  padding: 5px 0;
}

button#play {
  background-color: #797670;
  padding: 5px 0;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #ffffff;
  margin: 7.5px;
  color: #ffffff;
  background-color: transparent;
  padding: 5px 10px;
  width: 100%;
}

.form_container p {
  color: #ffffff;
  font-size: 0.75rem;
  border-bottom: 1px solid #ffffff;
  padding: 0 20px 5px;
}

button#submit {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #f6ba10;
  padding: 5px 10px;
  margin: 10px;
}

button#terms-conditions {
  background-color: transparent;
  color: #f6ba10;
  border: none;
}
